.main {
    padding: 30px;
    border: 30px solid rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(99, 136, 64);
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.score-board,
.game-board {
    display: block;
}